<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @paper.title %>
</p>

<p>
  <b>Permalink:</b>
  <%= @paper.permalink %>
</p>

<p>
  <b>Body:</b>
  <%= @paper.body %>
</p>

<p>
  <b>Created at:</b>
  <%= @paper.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @paper.updated_at %>
</p>


<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
